# vim: ft=cfg : ts=4 : sw=4 : et

[MASTER]

# Add files or directories to the blacklist. They should be base names, not
# paths.
ignore=.git,data,old


[MESSAGES CONTROL]

enable=all
# hide all non-critical errors in normal use (linter.sh will ignore these)
disable=
        # current annoyances; probably need disabling on a per-file basis?
        import-outside-toplevel,
        no-else-continue,
        no-else-raise,
        import-error,
        # known problems
        locally-disabled,
        invalid-name,
        suppressed-message,
        consider-using-f-string,
        missing-timeout,
        unspecified-encoding,
        used-before-assignment,
        use-implicit-booleaness-not-comparison-to-zero,
        consider-using-with,
        use-implicit-booleaness-not-comparison,
        use-implicit-booleaness-not-comparison-to-string,
        wrong-import-order,
        wrong-import-position,
        # not urgent
        too-few-public-methods,
        too-many-arguments,
        #
        # false positive in metadata.py
        unsubscriptable-object,
        #
        # checked by flake8
        broad-except,
        line-too-long,
        # don't care
        fixme,
        missing-docstring,
        no-else-return,


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=100

# Expected format of line ending, e.g. empty (any line ending), LF or CRLF.
expected-line-ending-format=LF


[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=df,c,it,m,ii,fh,g,e,j,r

# Bad variable names which should always be refused, separated by a comma
bad-names=foo,bar,blah,bla,blabla,data

no-docstring-rgx=^_|^main$

# Include a hint for the correct naming format with invalid-name
include-naming-hint=yes


[IMPORTS]

# Create a graph of every (i.e. internal and external) dependencies in the
# given file (report RP0402 must not be disabled)
import-graph=imports.png


[TYPECHECK]

ignored-classes=Namespace
